{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <H1>Hello, {{ username }}!</H1>
    <a href="/logout">Log out</a>
    <h2>Top Games</h2>
    <p>some info about top games</p>
    <p>some more info about top games</p>
    <p>even more info about top games</p>
    <h2>High Scores</h2>
    <table>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 1
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 2
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 3
            </td>
            <td>
                999
            </td>
        </tr>
        <tr>
            <td>
                Game 4
            </td>
            <td>
                999
            </td>
        </tr>
    </table>
    <button>View All</button>
{% endblock %}

{% block footer %}
    <p>Sign up or log in to start tracking scores</p>
{% endblock %}