{% extends "layout.html" %}

{% block title %}
    Dice
{% endblock %}

{% block main %}
    <div class="main_page_content">
        <h1>Choose your dice</h1>
        <form method="post", action="/tools/dice">
            <label for="D4">D4:</label>
            <input type="number" name="D4" value="0" min="0" max="10">
            <label for="D6">D6:</label>
            <input type="number" name="D6" value="0" min="0" max="10">
            <label for="D8">D8:</label>
            <input type="number" name="D8" value="0" min="0" max="10">
            <label for="D10">D10:</label>
            <input type="number" name="D10" value="0" min="0" max="10">
            <label for="D12">D12:</label>
            <input type="number" name="D12" value="0" min="0" max="10">
            <label for="D20">D20:</label>
            <input type="number" name="D20" value="0" min="0" max="10">
            <button>Select</button>
        </form>
        <div>
            <h2>Previous Rolls:</h2>
            <table>
                {% for i in range(5) %}
                    <tr>    
                        {% if history[i]["D4"] > 0 %}
                            <td>
                                D4 total: {{ history[i]["D4"] }}                        
                            </td>
                        {% endif %}
                        {% if history[i]["D6"] > 0 %}
                            <td>
                                D6 total: {{ history[i]["D6"] }}                        
                            </td>
                        {% endif %}
                        {% if history[i]["D8"] > 0 %}
                            <td>
                                D8 total: {{ history[i]["D8"] }}                        
                            </td>
                        {% endif %}
                        {% if history[i]["D10"] > 0 %}
                            <td>
                                D10 total: {{ history[i]["D10"] }}                        
                            </td>
                        {% endif %}
                        {% if history[i]["D12"] > 0 %}
                            <td>
                                D12 total: {{ history[i]["D12"] }}                        
                            </td>
                        {% endif %}
                        {% if history[i]["D20"] > 0 %}
                            <td>
                                D20 total: {{ history[i]["D20"] }}                        
                            </td>
                        {% endif %}
                        <td>
                            Grand Total: {{ history[i]["D4"] + history[i]["D6"] + history[i]["D8"] + history[i]["D10"] + history[i]["D12"] + history[i]["D20"] }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}