{% extends "layout.html" %}

{% block title %}
    Dice
{% endblock %}

{% block main %}
    <div class="main_page_content">
        <div class="centred-input frosted">
            <h1 class="display-5">Choose your dice</h1>
            <form method="post", action="/tools/dice">
                <div class="inputs">
                    <label for="D4">D4:</label>
                    <input type="number" name="D4" value="0" min="0" max="10">
                </div>
                <div class="inputs">
                    <label for="D6">D6:</label>
                    <input type="number" name="D6" value="0" min="0" max="10">
                </div>
                <div class="inputs">
                    <label for="D8">D8:</label>
                    <input type="number" name="D8" value="0" min="0" max="10">
                </div>
                <div class="inputs">
                    <label for="D10">D10:</label>
                    <input type="number" name="D10" value="0" min="0" max="10">
                </div>
                <div class="inputs">
                    <label for="D12">D12:</label>
                    <input type="number" name="D12" value="0" min="0" max="10">
                </div>
                <div class="inputs">
                    <label for="D20">D20:</label>
                    <input type="number" name="D20" value="0" min="0" max="10">
                </div>
                <div class="centred-button">
                    <button class="btn btn-primary">Select</button>
                </div>
            </form>
        </div>
        <div>
            <h2 class="display-6">Previous Rolls:</h2>
            <div>
                {% if history == None  %}    
                    <p> To view dice roll history, <a href="/register">create an account</a> or <a href="/login">log in</a></p>
                {% elif history | length == 0 %}
                    <p> To view dice roll history, roll some dice!</p>
                {% else %}
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>D4</th>
                                <th>D6</th>
                                <th>D8</th>
                                <th>D10</th>
                                <th>D12</th>
                                <th>D20</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in range(history | length) %}
                            <tr>    
                                {% if history[i]["D4"] > 0 %}
                                    <td>
                                    {{ history[i]["D4"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D6"] > 0 %}
                                    <td>
                                    {{ history[i]["D6"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D8"] > 0 %}
                                    <td>
                                    {{ history[i]["D8"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D10"] > 0 %}
                                    <td>
                                        {{ history[i]["D10"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D12"] > 0 %}
                                    <td>
                                        {{ history[i]["D12"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D20"] > 0 %}
                                    <td>
                                        {{ history[i]["D20"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                <td>
                                    <span style="font-weight: bold">{{ history[i]["D4"] + history[i]["D6"] + history[i]["D8"] + history[i]["D10"] + history[i]["D12"] + history[i]["D20"] }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}