{% extends "layout.html" %}

{% block title %}
    Dice
{% endblock %}

{% block main %}
    <div class="main_page_content">
        <h1 class="display-5">Dice rolls</h1>
        <div style="display:flex; justify-content: flex-end;">
            <button id="action_buttons" class="btn btn-outline-primary" type="button" onClick="window.location.reload();">Re-Roll</button>
            <form method="get", action="/tools/dice">
                <button id="action_buttons" class="btn btn-outline-warning">Change dice</button>
            </form>
        </div>
        <div class="roll_table">
            {% if D4|length > 0 %}
            <div class="roll_row">
                <p>D4:</p>
                {% for i in D4 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D4_t }}</p>
            </div>
            {% endif %}
            {% if D6|length > 0 %}
            <div class="roll_row">
                <p>D6:</p>
                {% for i in D6 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D6_t }}</p>
            </div>
            {% endif %}
            {% if D8|length > 0 %}
            <div class="roll_row">
                <p>D8:</p>
                {% for i in D8 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D8_t }}</p>
            </div>
            {% endif %}
            {% if D10|length > 0 %}
            <div class="roll_row">
                <p>D10:</p>
                {% for i in D10 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D10_t }}</p>
            </div>
            {% endif %}
            {% if D12|length > 0 %}
            <div class="roll_row">
                <p>D12:</p>
                {% for i in D12 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D12_t }}</p>
            </div>
            {% endif %}
            {% if D20|length > 0 %}
            <div class="roll_row">
                <p>D20:</p>
                {% for i in D20 %}
                    <p id="dice_result">{{ i }}</p>
                {% endfor %}
                <p>Total: {{ D20_t }}</p>
            </div>
            {% endif %}
            <div class="grand_row">
                <p style="font-weight: bold;">Grand Total: {{ D4_t + D6_t + D8_t + D10_t + D12_t + D20_t }}</p>
            </div>
        </div>
        <div>
            <h2 class="display-6">Previous Rolls:</h2>
            <div>
                {% if history == None  %}    
                    <p> To view dice roll history, <a href="/register">create an account</a> or <a href="/login">log in</a></p>
                {% elif history | length == 0 %}
                    <p> To view dice roll history, roll some dice!</p>
                {% else %}
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>D4</th>
                                <th>D6</th>
                                <th>D8</th>
                                <th>D10</th>
                                <th>D12</th>
                                <th>D20</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in range(5) %}
                            <tr>    
                                {% if history[i]["D4"] > 0 %}
                                    <td>
                                    {{ history[i]["D4"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D6"] > 0 %}
                                    <td>
                                    {{ history[i]["D6"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D8"] > 0 %}
                                    <td>
                                    {{ history[i]["D8"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D10"] > 0 %}
                                    <td>
                                        {{ history[i]["D10"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D12"] > 0 %}
                                    <td>
                                        {{ history[i]["D12"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                {% if history[i]["D20"] > 0 %}
                                    <td>
                                        {{ history[i]["D20"] }}                        
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                <td>
                                    <span style="font-weight: bold">{{ history[i]["D4"] + history[i]["D6"] + history[i]["D8"] + history[i]["D10"] + history[i]["D12"] + history[i]["D20"] }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}