{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <div class="popup_banner">
        <header class="alert_box">
            <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
                {{ get_flashed_messages() | join(" ") }}
                <button class="close btn-close" data-dismiss="alert" aria-label="close"></button>
            </div>
        </header>
    </div>
    {% endif %}
    <div class="main_page_content" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
      <div class="homepage-logo" style="display: flex; justify-content: center; align-items: center;">
        <img class="homepage-icon" src="static/images/dice_icon.svg" alt="Dice Icon" width="80" height="60" style="margin-right: 5%; margin-bottom: 5%;">
        <h1 class="display-4" style="text-align: center; padding-bottom: 20px; text-wrap: nowrap;">Board Game Tools</h1>
      </div>
      <div class="homepage-hero">
      <!--Photo by Tim Foster on Unsplash: https://unsplash.com/photos/close-up-photo-of-red-dice-y6uilkrSyMs?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash-->
        <div class="hero-box">
            <h2 class="display-6" style="text-align: center;">Get Started</h2>
          <div style="display: flex; justify-content: center; flex-wrap: wrap;">
            <form action="/tools"><button class="btn btn-lg btn-primary" style="margin: 20px;">View all tools</button></form>
            <form action="/games"><button class="btn btn-lg btn-primary" style="margin: 20px;">View all games</button></form>
          </div>
          <div style="display: flex; justify-content: center;">
              <form action="/login"><button class="btn btn-secondary">Login</button></form>
          </div>
        </div>
      </div>
      <div id="homepage-info" class="centred-input frosted">  
        <p style="text-align: center;">Board Game Tools is a web application that forms my final project of CS50x, that provides tools to assist board game players in playing, scoring, timing and tracking, through both general purpose tools and specific game tools.</p>
      </div>
    </div>
    
{% endblock %}

{% block footer %}
{% endblock %}