{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <div class="popup_banner">
        <div class="alert_box">
            <div class="alert alert-warning alert-dismissible text-center fade show" role="alert">
                {{ get_flashed_messages() | join(" ") }}.
                <button class="close btn-close" data-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="main_page_content">
        <div class="centred-input frosted" id="login-form">
        <h1 class="display-5">Log in</h1>
        <form method="post", action="/login">
            <div class="inputs" style="width: 100%">
                <input type="text" name="username" placeholder="Username" autocomplete="off" style="width:100%;">
            </div>
            <div class="inputs">
                <input type="password" name="password" placeholder="Password" autocomplete="off" style="width:100%;">
            </div>
            <div class="centred-button">
                <button class="btn btn-primary">Log In</button>
            </div>
        </div>
        </form>
    </div>
    <p>Don't have an account? <a href="/register">Register here</a></p>
{% endblock %}

{% block footer %}
    
{% endblock %}