{% extends "layout.html" %}

{% block title %}
    Monopoly
{% endblock %}

{% block main %}  
    <hr>    
    {% for i in saves %}
        <div class="monopoly-load">
            <h3 class="display-6">{{ i["player_name"] }}</h3>
            <p>£{{ i["cash"] }}</p>
            <p>Properties: {{ i["cards"] | length }}</p>
            <p>Houses: {{ i["houses"] }}</p>
            <p>Hotels: {{ i["hotels"] }}</p>
            <p>{{ i["date_time"] }}</p>
        </div>
        <form method="post", action="/games/monopoly/load" name="load">
            <input name="load_file" style="display:None;" value="{{ i["session_id"] }}">
            {% if loop.nextitem %}
                {% if loop.nextitem["session_id"] != i["session_id"] %}
                <div style="display:flex; justify-content:flex-end;"> 
                    <button class="btn btn-success" type="submit">Load</button>
                </div>
                <hr>
                {% endif %}
            {% else %}
                <div style="display:flex; justify-content:flex-end;">
                    <button class="btn btn-success" type="submit">Load</button>
                </div>
                <hr>
            {% endif %}
        </form>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}

{% endblock %}