{% extends "layout.html" %}

{% block title %}
    Monopoly
{% endblock %}

{% block main %}

<div class="centred-input frosted">
    <h1 class="display-5">Set up Monopoly</h1>
    <form method="post", action="/games/monopoly">
    <div class="inputs">
        <p>Number of players:</p>
        <input id="player_count" min="0" name="players_count" type="number">
    </div>
    <div class="centred-button">
        <button id="player_count_button" class="btn btn-primary" type="button">Select</button>
    </div>
    <div id="hidden_form">
    </div>
</div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector("#player_count_button").addEventListener('click', function() {
            let x = document.querySelector("#player_count").value
            if (x < 1) {
                alert("Minimum 1 player required")
                return
            }
            let text = ""
            for (let i = 0; i < x; i++) {
                text += "<div><hr><h3 class='display-6'>Player " + (i + 1) + "</h3> <div class='inputs'><label for='player_name'>Name: </label> <input name='player_name' placeholder='Name' type='text' required></div></div>"
            }
            text += "<div class='centred-button'><button class='btn btn-primary'>Start</button></div>"
            document.querySelector('#hidden_form').innerHTML = text;
        })
    })
</script>
<div style="display: flex; justify-content: flex-end;">
    <p><a id="monopoly_load" href="/games/monopoly/load">Load a previous game</a> instead</p>
</div>
{% endblock %}

{% block footer %}

{% endblock %}