{% extends "layout.html" %}

{% block title %}
    Poker
{% endblock %}

{% block main %}
    <h1 class="display-5">Poker Hands</h1>
    <p style="text-align: center;">By combining the cards on the table, and in your hand, what is the best 5 card hand you can create?</p>
    <p style="text-align: center;">Here are the possible hands, ranked from best to worst:</p>
    <div>
    <ol style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        <li class="poker-hand">
            <h3>Royal Flush</h3>
            <div>
                <img src="/static/poker/royal-flush.png" style="width:200px; height:45px;">
            </div>
            <br>Highest possible consecutive cards, in-suit.
        </li>
        <li class="poker-hand">
            <h3>Straight Flush</h3>
            <div>
                <img src="/static/poker/straight-flush.png" style="width:200px; height:45px;">
            </div>
            <br>Five consecutive cards, in-suit.
        </li>
        <li class="poker-hand">
            <h3>Four of a Kind</h3>
            <div>
                <img src="/static/poker/four-of-a-kind.png" style="width:200px; height:45px;">
            </div>
            <br>All four of a single rank card, one of each suit <br>(1 unused card).
        </li>
        <li class="poker-hand">
            <h3>Full House</h3>
            <div>
                <img src="/static/poker/full-house.png" style="width:200px; height:45px;">
            </div>
            <br>Any Pair, and any Three-of-a-kind, together.
        </li>
        <li class="poker-hand">
            <h3>Flush</h3>
            <div>
                <img src="/static/poker/flush.png" style="width:200px; height:45px;">
            </div>
            <br>Five cards non-consecutive cards of the same suit.<br>(The highest ranked card defines the hand, i.e. 'King flush').
        </li>
        <li class="poker-hand">
            <h3>Straight</h3>
            <div>
                <img src="/static/poker/straight.png" style="width:200px; height:45px;">
            </div>
            <br>Five consecutive cards, not in-suit. 
        </li>
        <li class="poker-hand">
            <h3>Three of a Kind</h3>
            <div>
                <img src="/static/poker/three-of-a-kind.png" style="width:200px; height:45px;">
            </div>
            <br>Three of the same ranked card <br>(2 unused cards).
        </li>
        <li class="poker-hand">
            <h3>Two Pair</h3>
            <div>
                <img src="/static/poker/two-pair.png" style="width:200px; height:45px;">
            </div>
            <br>Two of the same ranked card, and two of another. <br>(1 unused card).
        </li>
        <li class="poker-hand">
            <h3>Pair</h3>
            <div>
                <img src="/static/poker/pair.png" style="width:200px; height:45px;">
            </div>
            <br>Two of the same ranked card <br>(3 unused cards).
        </li>
        <li class="poker-hand">
            <h3>High Card</h3>
            <div>
                <img src="/static/poker/high-card.png" style="width:200px; height:45px;">
            </div>
            <br>Your one highest ranked card <br>   (4 unused cards).<br>This is the worst possible hand.
        </li>
    </ol>
</div>
<p style="text-align: center;">The player who has the highest ranking hand wins.<br>If hand ranks match, the hand with the highest card values wins.<br>If there is still a tie, the highest ranked unused cards (if any) decide the winner.</p>
{% endblock %}

{% block footer %}

{% endblock %}