{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <div class="popup_banner">
        <header class="alert_box">
            <div class="alert alert-warning alert-dismissible text-center fade show" role="alert">
                <strong>Error</strong>: {{ get_flashed_messages() | join(" ") }}.
                <button class="close btn-close" data-dismiss="alert" aria-label="close"></button>
            </div>
        </header>
    </div>
    {% endif %}
    <div class="centred-input" id="login-form">
        <h1 class="display-5">Register for a new account</h1>
        <form method="post", action="/register">
            <div class="inputs" style="flex-direction: column; align-items: center;">
                <input type="text" name="username" placeholder="Username" autocomplete="off" style="text-align: center; margin: 10px">
                <input type="password" name="password" placeholder="Password" autocomplete="off" minlength="8" style="text-align: center; margin: 10px">
            </div>
            <div class="centred-button">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    <div>
        <p style="margin-top: 30px;">Passwords must:</p>
        <ul>
            <li>Be at least 8 characters long</li>
            <li>Contain at least one capital letter</li>
            <li>Contain at least one special character</li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    <p>Already have an account? <a href="/login">Login</a> instead.</p>
{% endblock %}