{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block main %}
    
    <div class="cards-container">
        {% for i in players %}
        <div class="player-card">
            <h3 class="display-5">{{ i['name'] }}</h3>
            <div class="score-inputs"> 
                <p id="score">{{ i['score'] }}</p>  
            </div>
            <div class="pair-buttons">
                <button class="btn btn-primary" id="minus">- {{ increment }}</button>
                <button class="btn btn-primary" id="plus">+ {{ increment }}</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content: flex-end; padding: 50px;">
        <!--To Do: implement score saving to database?-->
        <form action="/tools/keep-scores" method="get">
            <button class="btn btn-danger">Start Over</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pluses = document.querySelectorAll("#plus")
            for (let i = 0; i < pluses.length; i++){
                pluses[i].addEventListener('click', function() {
                    let x = {{ increment }}
                    let score = +document.querySelectorAll("#score")[i].innerHTML
                    score += x
                    document.querySelectorAll("#score")[i].innerHTML = score;
                })
            }
            const minuses = document.querySelectorAll("#minus")
            for (let i = 0; i < minuses.length; i++){
                minuses[i].addEventListener('click', function() {
                    let x = {{ increment }}
                    let score = +document.querySelectorAll("#score")[i].innerHTML
                    score -= x
                    document.querySelectorAll("#score")[i].innerHTML = score;
                })
            }
        })
    </script>
{% endblock %}

{% block footer %}

{% endblock %}