{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block main %}
<div class="centred-input frosted">
    <h1 class="display-5">Set up your players</h1>
    <form method="post", action="/tools/keep-scores">
        <div class="inputs">
            <label for="players_count">Number of players: </label>
            <input id="player_count" min="1" name="players_count" type="number">
        </div>
        <div class="centred-button">
            <button id="player_count_button" type="button" class="btn btn-primary">Select</button>
        </div>
        <div id="hidden_form">

        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector("#player_count_button").addEventListener('click', function() {
            let x = document.querySelector("#player_count").value
            if (x < 1) {
                alert("Minimum 1 player required")
                return
            }
            let text = ""
            for (let i = 0; i < x; i++) {
                text += "<div><hr><h3 class='display-6'>Player " + (i + 1) + "</h3> <div class='inputs'><label for='player_name'>Name: </label><input name='player_name' placeholder='Name' type='text' required></div><div class='inputs'><label for='starting_score'>Starting Score: </label> <input type='number' name='starting_score' value='0'></div><div>"
            }
            text += "<div><hr><div class='inputs'><label for='increment'>Score Increment: </label> <input type='number' min='0' name='increment' placeholder='+/-1, +10, +100, etc...' required min='1'></div></div><div class='centred-button'><button class='btn btn-primary'>Start</button></div>"
            document.querySelector('#hidden_form').innerHTML = text;
        })
    })
</script>
{% endblock %}

{% block footer %}

{% endblock %}