{% extends "layout.html" %}

{% block title %}
    Timer
{% endblock %}

{% block main %}
<div class="player-card frosted" style="width: 50%">
    <h1 class="display-5">Timer</h1>
    <form action="/tools/timer" method="post">
        <div class="timer-block">
            <input type="number" min="0" max="23" value="00" name="hours" placeholder="H" style="min-width:40px; text-align: center;">
            <p class="timer-colon">:</p>
            <input type="number" min="0" max="59" value="00" name="mins" placeholder="M" style="min-width:40px; text-align: center;">
            <p class="timer-colon">:</p>
            <input type="number" min="0" max="59" value="00" name="secs" placeholder="S" style="min-width:40px; text-align: center;">
        </div>
        <div class="inputs" style="justify-content: center; flex-direction: column;">
            <!--All timer sounds sourced from https://sound-effects.bbcrewind.co.uk/-->
            <select name="timer-chime" style="width:200px; align-self: center;">
                <option value="alarm" selected>Alarm (default)</option>
                <option value="chime" >Chime</option>
                <option value="buzzer" >Buzzer</option>
                <option value="medieval" >Medieval</option>
                <option value="cosmic" >Cosmic</option>
            </select>
            <button class="btn btn-primary" style="margin-top: 20px; width:100px; align-self: center;">Go</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    Sounds sourced from <a href="https://sound-effects.bbcrewind.co.uk/">BBC Sound Effects</a>
{% endblock %}