{% extends "layout.html" %}

{% block title %}
    Timer
{% endblock %}

{% block main %}
    <h1>Timer</h1>
    
        <form action="/tools/timer" method="post">
            <div style="padding-left: 30%; padding-right: 30%; display: flex; justify-content:space-around;">
                <input type="number" min="0" max="24" name="hours" value="00">
                <p>:</p>
                <input type="number" min="0" max="59" name="mins" value="00">
                <p>:</p>
                <input type="number" min="0" max="59" name="secs" value="00">
            </div>
            <select name="timer-chime">
                <option value="alarm" selected>Alarm (default)</option>
                <option value="chime" >Chime</option>
                <option value="buzzer" >Buzzer</option>
                <option value="medieval" >Medieval</option>
                <option value="cosmic" >Cosmic</option>
            </select>
            <button>Go</button>
        </form>
    
{% endblock %}

{% block footer %}

{% endblock %}